jb-checkbox.fluent-style {
    display: block;
    width: 100%;
    --jb-checkbox-label-color: var(--jb-text-primary);
    --jb-checkbox-message-color: #605e5c;
    --jb-checkbox-message-color-error: #a4262c;
    --jb-checkbox-check-bg-color: var(--jb-text-contrast);
    --jb-checkbox-check-bg-color-checked: var(--jb-focus-color);
    --jb-checkbox-check-bg-color-disabled: var(--jb-background);
    --jb-checkbox-check-border-color: #605e5c;
    --jb-checkbox-check-mark-color: transparent;
    --jb-checkbox-check-mark-color-checked: var(--jb-text-contrast);
    --jb-checkbox-check-border-radius: 0.125rem;
    --jb-checkbox-check-border-radius-checked: 0.125rem;
    --jb-checkbox-focus-ring-color: var(--jb-focus-color);
}

jb-checkbox.fluent-style::part(check-bg) {
    stroke-width: 1.5px;
}

jb-checkbox.fluent-style:state(checked)::part(label) {
    color: var(--jb-focus-color);
}
